*{
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}
body{
  background-image: url(bike-brake-drive-34006.jpg);
  background-size: 1300px;
}
.jumbotron{
  opacity: 0.85;
  background-color: #ADF2ED
  border-radius: 20px;

}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}
  img{
    border-radius: 20px;
  }
