*{
  text-align: center;
  font-family: 'Cutive Mono', monospace;
}
body{
  background-image: url(4k-wallpaper-automotive-bike-1413412.jpg);
  background-size: 1500px;
}
.jumbotron{
  opacity: 0.85;
  background-color: #ADF2ED
  border-radius: 20px;

}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}
  #personal{
    width: 5em;
    height: 5em;
    margin-right: 0.5em;
    border-radius: 0.5em;
    opacity: 1;

  }
